{% extends 'base.html.twig' %}

{% block title %}Créer un compte{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="display-6 fw-bold text-body-emphasis mb-5">Créer un compte</h1>

    <div class="row">
        <div class="col-md-8 mb-5">

            {{ form_start(registrationForm) }}

            <div class="row">
                <div class="col-md-6">
                    {{ form_row(registrationForm.firstName) }}
                    {{ form_row(registrationForm.lastName) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.origin) }}
                </div>

                <div class="col-md-6">
                    {{ form_row(registrationForm.birthdate) }}
                    {{ form_row(registrationForm.phone) }}
                    {{ form_row(registrationForm.postal) }}
                    {{ form_row(registrationForm.locality) }}
                    {{ form_row(registrationForm.doctor) }}
                </div>
            </div>
            <div class="form-text mb-0 help-text">* Champs obligatoires</div>
            <div class="mt-4">
                <button type="submit" class="btn btn-outline-primary" formnovalidate>S'enregistrer</button>
                <a href="{{ path('app_home') }}" class="btn btn-outline-dark">Annuler</a>
            </div>

            {{ form_end(registrationForm) }}
        </div>

        <div class="col-md-4">
            <div class="callout callout-primary">
                <p>
                    La préservation de la confidentialité de vos données est une priorité majeure pour moi, et c'est
                    pourquoi je m'engage à ne jamais les partager avec des tiers.
                    Des mesures de sécurité techniques et organisationnelles ont été mises en place pour protéger vos
                    informations personnelles contre toute perte, destruction, manipulation ou accès non autorisé.</p>
                <p>Ce site n'utilise aucun cookie qui stockerait vos données personnelles.
                    Votre vie privée est importante, et je prends toutes les précautions nécessaires pour assurer la
                    sécurité de vos informations.</p>
            </div>
        </div>
    </div>

{% endblock %}
