{% extends 'base.html.twig' %}

{% block title %}Créer un compte admin{% endblock %}

{% block body %}
    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <h1 class="display-6 fw-bold text-body-emphasis">Créer un compte admin</h1>

    <div class="row justify-content-start g-5">
        <div class="col-md-5">
            <div class="callout callout-primary">
                <p>Lorsque vous vous inscrivez sur notre site, vous consentez à recevoir des informations sur
                   les divers services proposés par Cathy Assenheim.</p>
            </div>
        </div>

        <div class="col-md-5">
            {{ form_errors(registrationForm) }}

            {{ form_start(registrationForm) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Password'
            }) }}
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
